.footer__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;

}

.footer__socials a {
  background-color: var(--color-bg2);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.footer__socials a:hover {
  background-color: transparent;
}



/* ---------------------footer----------------- */
footer {
  background: var(--color-bg1);
  padding: 5rem;
  font-size: 0.9rem;
  /* margin-bottom: 6rem; */
  margin-top: 4rem;



}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container>div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;

}

.footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a :hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

footer {
  background: var(--color-bg1);
  padding: 5rem;
  font-size: 0.9rem;
  /* margin-bottom: 3rem; */
  margin-top: 4rem;



}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container>div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;

}

.footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a :hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* ---------------- Tablets (<= 1024px) ---------------- */
@media screen and (max-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  footer {
    padding: 3rem 2rem;
  }
}


/* ---------------- Mobile Devices (<= 768px) ---------------- */
@media screen and (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer__1 p {
    margin-bottom: 1.5rem;
  }

  .footer__socials {
    justify-content: center;
    margin-top: 1.5rem;
    gap: 0.8rem;
    font-size: 1rem;
  }

  footer {
    padding: 2.5rem 1rem;
  }
}